          #btn{
               padding: 10px;
              margin-top: 20%;
              background-color: rgb(234, 255, 1);
              font-size: xx-large;
              border-radius: 20px;
              border: none;
              box-shadow: 0 0 10px green;
              transition: transform 1.8s ease, box-shadow 0.5s;
          }
          #btn:hover{
               box-shadow: 0 0 10px rgb(0, 187, 255);
               transform: rotate(360deg);
               transition-duration: 1.8s;
          }
          #text{
               color: rgb(255, 255, 255);
               font-size: xx-large;
               font-family:fantasy;
          }
          body{
               animation: anime 10s infinite ease-in-out;
               
               background-size: cover;
               background-position: center;
          }
          @keyframes anime{
               0%{
                    background-image: url(images/SL-110521-46540-07.jpg);
               }
               15%{
                    background-image: url(images/loveBC1.jpg);
               }
               30%{
                    background-image: url(images/loveBC2.jpg);
               }
               45%{
                    background-image: url(images/loveBC3.jpg);
               }
               60%{
                    background-image: url(images/loveBC4.jpg);
               }
               75%{
                    background-image: url(images/loveBC6.jpg);
               }
               90%{
                    background-image: url(images/loveBC7.jpg);
               }
               100%{
                    background-image: url(images/loveBC5.jpg);
               }
          }